@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 65%;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* max-width:; */
  /* margin: 0 auto; */
}

.container {
  margin: 0 72px;
}

.main-ttl {
  font-family: "Exo 2", sans-serif;
  font-size: 6rem;
  letter-spacing: -1.2px;
  color: rgb(120, 245, 141);
  padding-top: 20px;
  height: 19%;
}

.main-part-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 35px;
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.aside-text {
  width: 150px;
  text-align: justify;
  margin: 100px auto 0 auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.55);
  width: 100%;
  height: 440px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.main-nav-wrapper {
  display: flex;
  position: absolute;
  top: 40px;
  left: -190px;
}

.navItem {
  list-style-type: none;
  background-color: rgb(101, 191, 125, 0.3);
  text-align: center;
}

.selected-nI {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  width: 190px;
  letter-spacing: 1px;
}

.unselected-nI {
  font-size: 1.6rem;
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
}

.link-tag {
  width: px;
  height: 57px;
  text-decoration: none;
  transition: 1.6s;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5);
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

.portfolio-images {
  /* display: flex; */
  margin-top: 24px;
  /* overflow: hidden; */
}

.portfolio-images img {
  width: 260px;
  height: auto;
  margin-left: 36px;
  box-shadow: 2 2 8px gray; /*----hover設定したら無効になった-----*/
  transition: 0.5s; /*----マウスを外した時の動き----*/
}

.portfolio-images img:hover {
  transform: scale(1.07);
  transition: 0.5s; /*----マウスを乗せた時の動き----*/
}

.portfolio-images div {
  list-style-type: none;
}

.portfolio-images div:first-child {
  margin-left: 104px;
}

/* --------モーダルウィンドウ------- */

.port-modal {
  height: 550px; /* モーダル～の高さを設定 */
  padding: 32px;
  background-color: #fff;
  position: fixed;
  overflow-y: scroll; /* モーダルの高さを超えた分はスクロールに */
  z-index: 2;
}

.pm-img {
  width: 800px;
  height: auto;
}

/*-----------モーダルバックグラウンド-----------*/
#port-modal-bg {
  /*---jqueryでイベント発生時にhtmlに追加、または削除される---*/
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/*----------------swiper------------------*/
.swiper-container {
  width: 1000px;
  padding: 50px;
  height: 300px;
  margin-top: 120px;
}

/* -----------------ロゴ---------------- */
/* .img-text {
  font-family: Changa One, cursive;
  font-size: 45px;
  background-color: #fff;
  line-height: 0.7;
  padding: 50px;
} */
