@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 65%;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* max-width:; */
  /* margin: 0 auto; */
}

.container {
  margin-left: 48px;
}

.main-title {
  font-family: "Exo 2", sans-serif;
  font-size: 5rem;
  color: rgb(120, 245, 141);
  padding-top: 20px;
  height: 19%;
}

.main-part-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 35px;
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.selected-navItem {
  font-size: 2.4rem;
  color: #fff;
  padding: 10px;
  /* border: 1px 0; */
  background-color: rgb(101, 191, 125, 0.5);
  width: 200px;
  letter-spacing: 2px;
}

.aside-text {
  width: 140px;
  text-align: justify;
  margin: 40px auto 0 auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.55);
  width: 1116px;
  height: 507px;
  padding-top: 40px;
}

.unselected-navItem {
  display: flex;
}

.unselected-navItem li {
  list-style-type: none;
  font-size: 1.6rem;
  background-color: rgb(101, 191, 125, 0.5);
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
  text-align: center;
}

.link-tag {
  width: px;
  height: 57px;
  text-decoration: none;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5);
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

.article-title {
  font-family: 游ゴシック体;
  font-size: 3rem;
  margin-top: 40px;
  margin-left: 64px;
  color: #fff;
  letter-spacing: 2.5px;
}

/*------------About（プロフィールパート）---------------*/

.about-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 50px;
}

.profile-img {
  width: 158px;
  height: 158px;
  margin-left: 40px;
}

.profile-text p {
  width: 420px;
  text-align: left;
  margin-left: 40px;
  letter-spacing: 1.7px;
  color: rgb(51, 51, 51);
}

.service-wrapper {
  height: 350px;
  display: flex;
  background-color: rgb(101, 191, 125, 0.5);
}

.service-box {
  width: 250px;
  border: 1px solid #000;
  text-align: center;
}

.service-ttl {
  font-weight: bolder;
}

.service-txt {
  width: 230px;
}

/* -----------------ロゴ---------------- */
/* .img-text {
  font-family: Changa One, cursive;
  font-size: 45px;
  background-color: #fff;
  line-height: 0.7;
  padding: 50px;
} */
