@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 62.5%;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* max-width:; */
  /* margin: 0 auto; */
}

.container {
  margin: 0 72px;
}

.main-ttl {
  font-family: "Exo 2", sans-serif;
  font-size: 6rem;
  letter-spacing: -1.2px;
  color: rgb(120, 245, 141);
  padding-top: 20px;
  height: 19%;
}

.main-part-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 35px;
}

@media screen and (max-width: 960px) {
  .container {
    margin: 0 auto;
  }
  .main-part-wrapper {
    /* flex-direction: column; */
    margin-top: 35px;
  }
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.aside-text {
  width: 150px;
  text-align: justify;
  margin: 100px auto 0 auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

@media screen and (max-width: 960px) {
  aside {
    padding-top: 20px;
  }

  .aside-text {
    width: 624px;
    margin: 10px auto 0 auto;
    font-size: 2.4rem;
    display:none;
  }
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  position: relative;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.55);
  width: 100%;
  height: 440px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
}

.main-nav-wrapper {
  display: flex;
  position: absolute;
  top: 40px;
  left: -190px;
}

.navItem {
  list-style-type: none;
  background-color: rgb(101, 191, 125, 0.3);
  text-align: center;
}

.selected-nI {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  width: 190px;
  letter-spacing: 1px;
}

.unselected-nI {
  font-size: 1.6rem;
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
}

.link-tag {
  width: px;
  height: 57px;
  text-decoration: none;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.3);
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

@media screen and (max-width: 960px) {
  .article-wrapper {
    height:auto;
    padding-top: 10px;
    padding-bottom: 45px;
    margin-top: 20px;
    margin-left:60px;
  }

  .main-nav-wrapper {
    display: flex;
    position: absolute;
    top: 40px;
    left: -25px;
  }

  .unselected-nI {
    font-size: 1.6rem;
    width: 180px;
    padding: 16px 24px;
    letter-spacing: 3px;
  }
}

/*------------About（プロフィールパート）---------------*/

.about-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 100px 50px 50px 50px;
}

.profile-img {
  width: 158px;
  height: 158px;
  margin-left: 40px;
  box-shadow: 0 0 8px gray;
}

.profile-text p {
  width: 420px;
  text-align: left;
  margin-left: 40px;
  letter-spacing: 1.7px;
  color: rgb(51, 51, 51);
}

@media screen and (max-width: 960px) {
  .about-wrapper {
    height:auto;
    margin: 140px 50px 50px 50px;
  }

  .profile-img {
    margin-left: 0;
  }
  .profile-text p {
    width: 80%;
    margin-left: 40px;
    letter-spacing: 1.7px;
  }
}

/* 経歴パート */

.career-wrapper {
  width: 860px;
  height: 480px;
  background-color: rgb(101, 191, 125, 0.3);
  position: absolute;
  top: 380px;
  left: 130px;
}

.career-ttl {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  line-height: 60px;
  margin-left: 22px;
}

.career-list-wrapper {
  display: flex;
  margin-top: 20px;
}

.cl-left-li {
  list-style-type: none;
  width:90px;
  margin-left: 100px;
  margin-top: 20px;
  padding-right:20px;
}

.cl-left-blank {
  list-style-type: none;
  width:90px;
  margin-left: 100px;
  margin-top: 64px;
}

.cl-right li {
  list-style-type: none;
  margin-left: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .career-wrapper {
    width: 95%;
    height: 480px;
    position: absolute;
    top: 88%;
    left: -25px;
  }

.career-ttl{
  padding-left:35px;
}

.cl-right li {
  width:80%
}

}

/* -----------サービスパート--------------- */

.service-position{
  height:100%;
  position:relative;
}

.service-wrapper {
  width: 980px;
  height: 560px;
  background-color: rgba(204, 255, 204, 0.55);
  position: absolute;
  top: 370px;
  left: -50px;
}

.service-ttl {
  font-family: 游ゴシック体;
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  line-height: 60px;
  margin-left: 32px;
}

.service-box-wrapper {
  display: flex;
  justify-content: space-around;
}

.service-box {
  width: 270px;
  height: 370px;
  /* border: 1px solid #000; */
  /* background-color: rgb(101, 191, 125, 0.3); */
  text-align: center;
  background-color: #fff;
  opacity: 1;
  margin-top: 40px;
  position: relative;
  box-shadow: 0 0 8px gray;
}

.service-img {
  width: 200px;
  height: auto;
}

.comprehend-img {
  margin-top: 20px;
}

.comprehend-ttl {
  margin-top: 5px;
}

.support-img {
  width: 50%;
  height: auto;
  margin-top: 30px;
}

.support-ttl {
  margin-top: 25px;
}

.sb-ttl {
  font-weight: bolder;
}

.sb-txt {
  width: 240px;
  margin-top: 10px;
  margin: 10px auto 0;
}



@media screen and (max-width: 960px) {
  .service-wrapper {
    width: 640px;
    height: auto;
    padding-bottom: 30px;
    position: absolute;
    margin-top:370px;
    top: auto;
    left:50%;
    transform: translate(-50%);
  }

  .service-box-wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .service-box {
    width: 420px;
    height: auto;
    margin-top: 40px;
    padding-bottom: 30px;
    position: relative;
    /* display: none; */
  }

  .sb-txt {
    width: 340px;
  }

/* -----------------ロゴ---------------- */
/* .img-text {
  font-family: Changa One, cursive;
  font-size: 45px;
  background-color: #fff;
  line-height: 0.7;
  padding: 50px;
} */
