@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 62.5%;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* background-color: turquoise; */
  /* background-image: url("../img/p_da0626_s_da06260.png"); */
  /* background-repeat: repeat; */
}

.container {
  margin: 0 72px;
}

.main-ttl {
  font-family: "Exo 2", sans-serif;
  font-size: 6rem;
  letter-spacing: -1.2px;
  color: rgb(120, 245, 141);
  width: 360px; /*460→360に変更したよ*/
  height: 19%;
  margin-top: 20px; /*padding→marginにしたよ*/
  border-radius: 4px; /*追加したよ*/
  background-color: rgba(255, 255, 255, 0.95); /*背景色付けたよ*/
  text-align: center; /*追加したよ*/
}

.main-part-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    text-align: center;
  }

  .main-ttl {
    margin-top: 40px;
    width: 300px; /*320→300に変更したよ*/
    font-size: 5rem;
  }
}

@media screen and (max-width: 320px) {
  .main-ttl {
    font-size: 4rem;
    width: 240px;
  }
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.aside-text {
  width: 150px;
  text-align: justify;
  margin: 100px auto 0 auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  padding: 10px; /* padding 追加*/
  border-radius: 1px; /*角を丸くした*/
  background-color: rgba(255, 255, 255, 0.95); /*透過にした*/
}

@media screen and (max-width: 1020px) {
  aside {
    display: none;
  }
}

/*----------------------アーティクルパート------------------*/

article {
  /* border-top: 1px;
  border-bottom: 1px;
  border-left: 1px; 何の効果？*/
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.9); /*透過0.55→0.9*/
  width: 100%;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.article-wrapper::after {
  /*background-colorの境界をぼかす設定*/
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px rgb(255, 255, 255);
}

.main-nav-wrapper {
  display: flex;
  position: absolute;
  top: 40px;
  left: -170px; /* ???  */
}

.navItem {
  list-style-type: none;
  background-color: rgb(101, 191, 125, 0.7); /*透過0.3→0.7*/
  text-align: center;
}

.selected-nI {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  width: 190px;
  letter-spacing: 1px;
}

.unselected-nI {
  font-size: 1.6rem;
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
  z-index: 2;
}

.link-tag {
  /* width: px;  設定必要？*/
  height: 57px;
  text-decoration: none;
  transition: 1.6s;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5); /*透過　0.3→0.5*/
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

@media screen and (max-width: 1020px) {
  .article-wrapper {
    height: auto;
    padding-top: 10px;
    padding-bottom: 45px;
    margin-top: 20px;
    margin-left: 60px;
  }

  .main-nav-wrapper {
    display: flex;
    left: -25px;
  }
}

@media screen and (max-width: 768px) {
  .article-wrapper {
    width: 90%;
    padding-bottom: 30px;
    margin-left: 40px;
  }

  .main-nav-wrapper {
    flex-wrap: wrap;
  }

  h1 {
    text-align: center;
  }

  .selected-nI {
    font-size: 2rem;
    width: auto;
    line-height: 30px;
    padding: 10px 8px 10px 30px;
  }

  .unselected-nI {
    font-size: 1.2rem;
    width: auto;
    height: 50px;
    line-height: 30px; /* heightと同じ50pxではなく、borderまでの30pxで上下中央にそろった*/
    padding: 10px 8px;
    letter-spacing: 2px;
    z-index: 2;
  }
}

/*------------About（プロフィールパート）---------------*/

.about-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 100px 50px 50px 50px;
  padding: 30px;
}

.profile-img {
  width: 158px;
  height: 158px;
  margin-left: 40px;
  box-shadow: 0 0 8px gray;
}

.profile-text p {
  width: 420px;
  text-align: left;
  margin-left: 40px;
  letter-spacing: 1.7px;
  color: rgb(51, 51, 51);
}

@media screen and (max-width: 1020px) {
  .about-wrapper {
    height: auto;
    margin: 90px 50px 50px 50px;
  }

  .profile-img {
    margin-left: 0;
  }

  .profile-text p {
    width: 90%;
    margin-top: 10px;
    margin-left: 40px;
    letter-spacing: 1.7px;
  }
}

@media screen and (max-width: 767px) {
  .about-wrapper {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .profile-text p {
    width: 90%;
    margin-top: 1.2rem;
    font-size: 1.5rem;
  }

  .profile-img {
    margin-top: 10px;
    margin-left: 40px;
    width: 120px;
    height: 120px;
  }
}

/* 経歴パート */

.career-wrapper {
  width: 860px;
  height: 480px;
  background-color: rgb(255, 255, 255, 0.9);
  position: absolute;
  top: 380px;
  left: 130px;
}

.career-wrapper::after {
  /*background-colorの境界をぼかす設定*/
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px rgb(255, 255, 255);
}

.career-ttl {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
  letter-spacing: 1px;
  line-height: 60px;
  margin-left: 22px;
}

.career-list-wrapper {
  margin: 30px 50px 0;
}

.career-list {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
}

.cl-year {
  width: 70px;
}

.career-list p {
  margin: 0 15px;
  line-height: 30px;
}

@media screen and (max-width: 1020px) {
  .career-wrapper {
    width: 610px;
    height: auto;
    padding-bottom: 70px;
    position: absolute;
    top: 90%;
    left: -80px;
  }

  .career-ttl {
    padding-left: 20px;
    text-align: left;
  }

  .cl-text {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .career-wrapper {
    left: -25px;
  }

  .career-ttl {
    padding-left: 48px;
  }
}

.career-list-wrapper {
  margin: 30px 15px 0;
}

@media screen and (max-width: 360px) {
  .career-wrapper {
    width: 98%;
  }
  .career-list {
    width: 290px;
  }
  .cl-year {
    width: 70px;
    margin-right: 0;
  }
  .cl-text {
    width: 200px;
  }
}

/* -----------サービスパート--------------- */

.service-wrapper {
  width: 980px;
  height: auto;
  background-color: rgba(235, 178, 192, 0.9);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: absolute;
  top: 800px;
  left: -40px;
}

.service-wrapper::after {
  /*background-colorの境界をぼかす設定*/
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px rgb(255, 255, 255);
}

.service-ttl {
  font-family: 游ゴシック体;
  font-size: 2.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  line-height: 30px;
  margin-left: 32px;
  text-align: left;
}

.service-box-wrapper {
  display: flex;
  justify-content: space-around;
}

.service-box {
  width: 240px;
  /* height: 370px; */
  /* border: 1px solid #000; */
  /* background-color: rgb(101, 191, 125, 0.3); */
  text-align: center;
  background-color: #fff;
  opacity: 1;
  margin-top: 40px;
  padding:25px;
  /* position: relative; 何のため？*/
  box-shadow: 0 0 8px gray;
}

.service-img {
  width: 200px;
  height: auto;
}

.comprehend-img {
  margin-top: 20px;
}

.comprehend-ttl {
  margin-top: 5px;
}

.support-img {
  width: 50%;
  height: auto;
  margin-top: 30px;
}

.support-ttl {
  margin-top: 25px;
}

.sb-ttl {
  font-weight: bolder;
}

.sb-txt {
  padding-top:15px;
}

@media screen and (max-width: 1165px) {
  .service-wrapper {
    width: 800px;
  }

  .service-box-wrapper {
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 1020px) {
  .service-wrapper {
    top: 715px;
    left: -100px;
  }
}

@media screen and (max-width: 952px) {
  .service-wrapper {
    top: 740px;
  }
}

@media screen and (max-width: 873px) {
  .service-wrapper {
    top: 760px;
  }
}

@media screen and (max-width: 812px) {
  .service-wrapper {
    top: 780px;
  }
}

@media screen and (max-width: 768px) {
  .service-wrapper {
    width: 92%;
    top: 750px;
    left: 420px;
    transform: translate(-50%);
  }

  .service-box-wrapper {
    align-items: center;
  }

  .service-box {
    width: 200px;
    height: 329px;
    margin: 40px 20px 0;
    padding-bottom: 30px;
    position: relative;
  }

  .comprehend-img {
    width: 60%;
  }

  .service-img {
    width: 50%;
  }

  .support-img {
    width: 40%;
  }

  .sb-txt {
    /* width: 200px; */
    font-size: 1.5rem;
    padding-top:15px;
  }
}

@media screen and (max-width: 767px) {
  .service-wrapper {
    top: 820px;
  }
}

@media screen and (max-width: 631px) {
  .service-wrapper {
    top: 840px;
  }
}

@media screen and (max-width: 549px) {
  .service-wrapper {
    top: 860px;
  }
}

@media screen and (max-width: 320px) {
  .service-wrapper {
    top: 1180px;
    left: 190px;
  }
}

/* -----------------ロゴ---------------- */
.img-text {
  font-family: Changa One, cursive;
  font-size: 45px;
  background-color: #fff;
  line-height: 0.7;
  padding: 50px;
}
