@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 65%;
  box-sizing: content-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
}

.container {
  margin-left: 48px;
}

.main-ttl {
  font-family: "Exo 2", sans-serif;
  font-size: 6rem;
  letter-spacing: -1.2px;
  color: rgb(120, 245, 141);
  padding-top: 20px;
  height: 19%;
}
.main-part-wrapper {
  display: flex;
  margin-top: 35px;
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.aside-text {
  width: 150px;
  text-align: justify;
  margin: 100px auto 0 auto;
  /* padding: 0 18px; */
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.55);
  width: 1050px;
  height: 440px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.main-nav-wrapper {
  display: flex;
  position: absolute;
  top: 40px;
  left: -190px;
}

.navItem {
  list-style-type: none;
  background-color: rgb(101, 191, 125, 0.3);
  text-align: center;
}

.selected-nI {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  width: 190px;
  letter-spacing: 1px;
}
.unselected-nI {
  font-size: 1.6rem;
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
}

.link-tag {
  /* width: px; */
  height: 57px;
  text-decoration: none;
  transition: 1.6s;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5);
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

.article-ttl {
  font-family: 游ゴシック体;
  font-size: 3rem;
  margin-top: 60px;
  margin-left: 64px;
  color: #fff;
  letter-spacing: 2.5px;
}

/*------------コンタクトパート---------------*/

.contact-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.form-left {
  display: flex;
  width: 450px; /*-----width設定------*/
  margin-left: 30px;
}

.fl-list {
  margin-left: 45px;
}

.fl-list li {
  list-style-type: none;
  /* height: 50px; */
  line-height: 50px;
  margin: 15px 0;
  /* width: 100%; */
  color: rgb(51, 51, 51);
}

.fl-list li:nth-child(3) {
  line-height: 25px;
}

.form-right {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
}

.form-right p {
  height: 50px;
  width: 80px;
  line-height: 25px;
  margin: 15px 0;
  color: rgb(51, 51, 51);
}

.form-right-box {
  border: solid 1px rgb(101, 191, 125, 0.5);
  height: 200px;
  margin-top: 5px;
  padding: 15px;
}

.form-btn {
  border: solid 1px rgb(101, 191, 125, 0.5);
  width: 35rem;
  height: 3rem;
  border-radius: 4px;
  display: block;
  margin-top: 8px;
}

.form-left-box {
  border: solid 1px rgb(101, 191, 125, 0.5);
  width: 100%;
  height: 50px;
  display: block;
  margin: 15px;
  padding: 0 12px;
}

.profile-text p {
  width: 420px;
  text-align: left;
  margin-left: 40px;
  letter-spacing: 1.7px;
}
