@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 62.5%;
  box-sizing: content-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* background-color: turquoise; */
  /* background-image: url("../img/p_da0626_s_da06260.png"); */
  /* background-repeat: repeat; */
}

.container {
  margin: 0 72px;
}

.main-ttl {
  font-family: "Exo 2", sans-serif;
  font-size: 6rem;
  letter-spacing: -1.2px;
  color: rgb(120, 245, 141);
  width: 360px; /*460→360に変更したよ*/
  height: 19%;
  margin-top: 20px; /*padding→marginにしたよ*/
  border-radius: 4px; /*追加したよ*/
  background-color: rgba(255, 255, 255, 0.95); /*背景色付けたよ*/
  text-align: center; /*追加したよ*/
}

.main-part-wrapper {
  display: flex;
  margin-top: 35px;
  /* justify-content: left; 必要かどうか要検討*/
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    text-align: center;
  }

  .main-ttl {
    margin-top: 40px;
    width: 300px; /*320→300に変更したよ*/
    font-size: 5rem;
  }

  .main-part-wrapper {
    margin-top: 35px;
  }
}

@media screen and (max-width: 320px) {
  .main-ttl {
    font-size: 4rem;
    width: 240px;
  }
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.aside-text {
  width: 150px;
  text-align: justify;
  margin: 100px auto 0 auto;
  /* padding: 0 18px; */
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  padding: 10px; /* padding 追加*/
  border-radius: 1px; /*角を丸くした*/
  background-color: rgba(255, 255, 255, 0.95); /*透過にした*/
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.9); /*透過*/
  width: 1050px;
  height: 440px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.main-nav-wrapper {
  display: flex;
  position: absolute;
  top: 40px;
  left: -190px;
}

.navItem {
  list-style-type: none;
  background-color: rgb(101, 191, 125, 0.7); /*透過0.3→0.7*/
  text-align: center;
}

.selected-nI {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  width: 190px;
  letter-spacing: 1px;
}

.unselected-nI {
  font-size: 1.6rem;
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
}

.link-tag {
  /* width: px;  設定必要？*/
  height: 57px;
  text-decoration: none;
  transition: 1.6s;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5); /*透過*/
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

/* .article-ttl {
  font-family: 游ゴシック体;
  font-size: 3rem;
  margin-top: 60px;
  margin-left: 64px;
  color: #fff;
  letter-spacing: 2.5px;
} */

.aside-text-responsive {
  /*レスポンシブ時のaside-textの付け替えのための非表示設定*/
  display: none;
}

@media screen and (max-width: 768px) {
  article {
    width: 100%;
  }
  .article-wrapper {
    width: 94%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 45px;
    margin-right: 0;
    margin-left: 6%; /*左側の余白分*/
  }

  .main-nav-wrapper {
    flex-wrap: wrap;
    position: absolute;
    top: 40px;
    left: -40px;
  }

  .selected-nI {
    font-size: 2rem;
    width: auto;
    line-height: 30px;
    padding: 10px 8px 10px 30px;
  }

  .unselected-nI {
    font-size: 1.2rem;
    width: auto;
    height: 50px;
    line-height: 30px; /* heightと同じ50pxではなく、borderまでの30pxで上下中央にそろった*/
    padding: 10px 8px;
    letter-spacing: 2px;
  }

  .aside-text-responsive {
    /*レスポンシブ時のaside-textの付け替え*/
    margin-top: 100px;
    padding-left: 35px; /*portfolioだと30px*/
    display: block;
    text-align: left;
    width: 90%;
  }
}

/*------------コンタクトパート---------------*/

.contact-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  padding-top: 70px;
}

.form-left {
  display: flex;
  width: 450px; /*-----width設定------*/
  margin-left: 30px;
}

.fl-list {
  margin-left: 45px;
}

.fl-list li {
  list-style-type: none;
  line-height: 50px;
  margin: 15px 0;
  color: rgb(51, 51, 51);
}

.fl-list li:nth-child(3) {
  line-height: 25px;
}

.form-right {
  width: 450px;
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
}

.form-right p {
  height: 50px;
  width: 80px;
  line-height: 25px;
  margin: 15px 0;
  color: rgb(51, 51, 51);
}

.form-right-box {
  border: solid 1px rgb(101, 191, 125, 0.9);
  height: 200px;
  margin-top: 5px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-btn {
  border: solid 1px rgb(101, 191, 125, 0.9);
  width: 36.8rem;
  height: 3rem;
  border-radius: 4px;
  display: block;
  margin-top: 8px;
  background-color: rgb(101, 191, 125, 0.9);
  color: #fff;
}

.form-left-box {
  border: solid 1px rgb(101, 191, 125, 0.9);
  width: 100%;
  height: 50px;
  display: block;
  margin: 15px;
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.6);
}

.fl-boxes {
  width: auto;
}

.profile-text p {
  width: 420px;
  text-align: left;
  margin-left: 40px;
  letter-spacing: 1.7px;
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    margin-top: 5px;
    padding-top: 5px;
    flex-direction: column;
    justify-content: center;
  }

  .fl-list {
    margin-left: 0;
  }

  .form-left {
    width: 70%;
    margin-top: 20px;
    margin-left: 0;
  }

  .form-left-box {
    width: 85%;
    padding: 0 12px;
  }

  .fl-list li {
    font-size: 1.4rem;
    width: 60px;
  }

  .fr-boxes {
    width: 272px;
    text-align: left;
  }

  .form-right p {
    font-size: 1.4rem;
    width: 60px;
    height: 50px;
    line-height: 25px;
    margin: 15px 0;
  }

  .form-right {
    margin-top: 15px;
    width: 70%;
    display: flex;
    align-items: flex-start;
  }

  .form-right-box {
    width: 85%;
    height: 100%;
    margin: 0 15px;
    padding: 12px;
  }

  .form-btn {
    width: 85%;
    height: 24px;
    margin-top: 8px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 320px) {
  /* .contact-wrapper {
    margin-top: 5px;
    padding-top: 5px;
  } */

  .fl-list {
    margin-left: 0;
  }

  .form-left {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .form-left-box {
    width: 85%;
    padding: 0 12px;
  }

  .fl-list li {
    font-size: 1.4rem;
    width: 60px;
  }

  .fr-boxes {
    width: 80%;
  }

  .form-right p {
    font-size: 1.4rem;
    width: 60px;
    height: 50px;

    line-height: 25px;
    margin: 15px 0;
  }

  .form-right {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .form-right-box {
    width: 85%;
    height: 100%;
    margin-top: 0;
    padding: 12px;
  }

  .form-btn {
    width: 85%;
    height: 24px;
    margin-top: 8px;
  }

  /* .pm-img {
    display: none;
  } */
}
