@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 62.5%;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* background-color: turquoise; */
  /* background-image: url("../img/p_da0626_s_da06260.png"); */
  /* background-repeat: repeat; */
  /* max-width:; */
  /* margin: 0 auto; */
}

.container {
  margin: 0 72px;
}

.main-ttl {
  font-family: "Exo 2", sans-serif;
  font-size: 6rem;
  letter-spacing: -1.2px;
  color: rgb(120, 245, 141);
  width: 360px; /*460→360に変更したよ*/
  height: 19%;
  margin-top: 20px; /*padding→marginにしたよ*/
  border-radius: 4px; /*追加したよ*/
  background-color: rgba(255, 255, 255, 0.9); /*背景色付けたよ*/
  text-align: center; /*追加したよ*/
}

.main-part-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    text-align: center;
  }

  .main-ttl {
    margin-top: 40px;
    width: 300px; /*360→300に変更したよ*/
    font-size: 5rem;
  }

  /* .main-part-wrapper {
    margin-top: 35px;
  } */
}

@media screen and (max-width: 320px) {
  /*追加したよ*/
  .main-ttl {
    font-size: 4rem;
    margin-top: 40px; /*padding24→margin40に変化*/
    width: 240px; /*300→240に変化*/
  }
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.aside-text {
  width: 150px;
  text-align: justify;
  margin: 100px auto 0 auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  padding: 10px; /* padding 追加*/
  border-radius: 1px; /*角を丸くした*/
  background-color: rgba(255, 255, 255, 0.9); /*透過にした*/
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.9); /*透過*/
  width: 100%;
  height: auto;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 30px;
  padding-bottom:40px;
  position: relative;
}

.article-wrapper::after {
  /*background-colorの境界をぼかす設定*/
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px rgb(255, 255, 255);
}

.main-nav-wrapper {
  display: flex;
  position: absolute;
  top: 40px;
  left: -190px;
  z-index:5;
}

.navItem {
  list-style-type: none;
  background-color: rgb(101, 191, 125, 0.7); /*透過0.3→0.7*/
  text-align: center;
}

.selected-nI {
  font-family: 游ゴシック体;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  width: 190px;
  letter-spacing: 1px;
}

.unselected-nI {
  font-size: 1.6rem;
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
  z-index: 2;
}

.link-tag {
  width: px;
  height: 57px;
  text-decoration: none;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5);
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

/* .article-title {
  font-family: 游ゴシック体;
  font-size: 3rem;
  margin-top: 40px;
  margin-left: 64px;
  color: #fff;
  letter-spacing: 2.5px;
} */

.aside-text-responsive {
  /*レスポンシブ時のaside-textの付け替えのための非表示設定*/
  display: none;
}

@media screen and (max-width: 768px) {
  .article-wrapper {
    /* width: 94%; */
    height: auto;
    padding-top: 10px;
    padding-bottom: 45px;
    margin-right: 0;
    margin-left: 6%; /*左側の余白分*/
  }

  .main-nav-wrapper {
    flex-wrap: wrap;
    position: absolute;
    top: 40px;
    left: -40px;
  }

  .selected-nI {
    font-size: 2rem;
    width: auto;
    line-height: 30px;
    padding: 10px 8px 10px 30px;
  }

  .unselected-nI {
    font-size: 1.2rem;
    width: auto;
    height: 50px;
    line-height: 30px; /* heightと同じ50pxではなく、borderまでの30pxで上下中央にそろった*/
    padding: 10px 8px;
    letter-spacing: 2px;
    z-index: 2;
  }

  .aside-text-responsive {
    /*レスポンシブ時のaside-textの付け替え*/
    margin-top: 100px;
    padding-left: 30px;
    display: block;
    text-align: left;
    width: 90%;
  }
}

/* ---------------ブログパート---------------- */
.blog-article-wrapper {
  display: flex;
  justify-content: space-around;
  width: 980px;
  height: 100%;
  margin-top: 100px;
  margin-left: 70px;
}

.blog-link {
  text-decoration: none;
}

.blog-article-box img {
  width: 240px;
  height: 160px;
  object-fit: cover; /*高さ、幅とも絶対値で要指定*/
}

.bab-title {
  margin-top: 14px;
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(51, 51, 51);
}

.bab-text {
  width: 240px;
  height: 74px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: rgb(51, 51, 51);
}

.time {
  display: block;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .blog-article-wrapper {
    flex-wrap: wrap-reverse; /*ナビゲーションの逆折り返し*/
    justify-content: left;
    width: 80%; /*280pxの80%=224pxで設定*/
    margin-top: 100px;
    margin-left: 45px;
  }

  .blog-article-box {
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .blog-article-box img {
    width: 170px;
    height: 113px; /*pc画面のimgと同じ比率で計算*/
    object-fit: cover;
  }

  .bab-text {
    width: 190px;
    height: 72px;
    margin-top: 8px;
  }
}

.portfolio-images {
  display: flex;
  margin-top: 24px;
  overflow: hidden;
}

.portfolio-images img {
  width: 260px;
  height: auto;
  margin-left: 36px;
  box-shadow: 2 2 8px gray; /*----hover設定したら無効になった-----*/
  transition: 0.5s; /*----マウスを外した時の動き----*/
}

.portfolio-images img:hover {
  transform: scale(1.07);
  transition: 0.5s; /*----マウスを乗せた時の動き----*/
}

.portfolio-images li {
  list-style-type: none;
}

.portfolio-images li:first-child {
  margin-left: 104px;
}
