@charset "UTF-8";

/*-------------------共通仕様-------------------*/
html {
  font-size: 65%;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  /* max-width:; */
  /* margin: 0 auto; */
}

.container {
  margin-left: 48px;
}

.main-title {
  font-family: "Exo 2", sans-serif;
  font-size: 5rem;
  color: rgb(120, 245, 141);
  padding-top: 20px;
  height: 19%;
}

.main-part-wrapper {
  display: flex;
  justify-content: left;
  margin-top: 35px;
}

/*--------------------アサイドパート------------------*/

aside {
  text-align: center;
  padding-top: 40px;
}

.selected-navItem {
  font-size: 2.4rem;
  color: #fff;
  padding: 10px;
  border: 1px 0;
  background-color: rgb(101, 191, 125, 0.5);
  width: 200px;
  letter-spacing: 2px;
}

.aside-text {
  width: 140px;
  text-align: justify;
  margin: 40px auto 0 auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

/*----------------------アーティクルパート-------------------*/

article {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}

.article-wrapper {
  background-color: rgba(204, 255, 204, 0.55);
  width: 1116px;
  height: 507px;
  padding-top: 40px;
}

.unselected-navItem {
  display: flex;
}

.unselected-navItem li {
  list-style-type: none;
  font-size: 1.6rem;
  background-color: rgb(101, 191, 125, 0.5);
  width: 140px;
  padding: 16px 24px;
  letter-spacing: 3px;
  text-align: center;
}

.link-tag {
  width: px;
  height: 57px;
  text-decoration: none;
}

.link-tag:link {
  color: rgb(101, 191, 125, 0.5);
}

.link-tag:hover {
  color: #fff;
  transition: 0.6s;
}

.article-title {
  font-family: 游ゴシック体;
  font-size: 3rem;
  margin-top: 40px;
  margin-left: 64px;
  color: #fff;
  letter-spacing: 2.5px;
}

.blog-article-wrapper {
  display: flex;
  justify-content: space-around;
  width: 980px;
  margin-top: 10px;
  margin-left: 70px;
}

.blog-link {
  text-decoration: none;
}

.blog-article-box img {
  width: 240px;
  height: auto;
}

.bab-title {
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(51, 51, 51);
}

.bab-text {
  width: 240px;
  height: 74px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: rgb(51, 51, 51);
}

.time {
  display: block;
  margin-top: 8px;
}

.portfolio-images {
  display: flex;
  margin-top: 24px;
  overflow: hidden;
}

.portfolio-images img {
  width: 260px;
  height: auto;
  margin-left: 36px;
  box-shadow: 2 2 8px gray; /*----hover設定したら無効になった-----*/
  transition: 0.5s; /*----マウスを外した時の動き----*/
}

.portfolio-images img:hover {
  transform: scale(1.07);
  transition: 0.5s; /*----マウスを乗せた時の動き----*/
}

.portfolio-images li {
  list-style-type: none;
}

.portfolio-images li:first-child {
  margin-left: 104px;
}
